 @font-face {
    font-family: 'rage-regular';
    src: url('Rage.ttf') format('truetype');
  }

@layer utilities {
    .content-auto {
      content-visibility: auto;
    }
    .font-rage{
        font-family: 'rage-regular';
    }
    .bg-color{
        background-color: #0a0a0a;
    }
  }