@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 
 @font-face {
    font-family: 'rage-regular';
    src: url('Rage.ttf') format('truetype');
  }

@layer utilities {
    .content-auto {
      content-visibility: auto;
    }
    .font-rage{
        font-family: 'rage-regular';
    }
    .bg-color{
        background-color: #0a0a0a;
    }
    .poppins{
        font-family: 'Poppins';
      }
      .bg-image{
        background-image: url(img/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
      }
      .top-90{
        top: 330px;
        position: absolute;
      }
      .top-100{
        top: 370px;
        position: absolute;
      }

      .top-c{
        top: 27rem;
        position: absolute;
      }
  }