@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 @font-face {
    font-family: 'rage-regular';
    src: url('Rage.ttf') format('truetype');
  }

  /*=============== Animation ===============*/
body [data-aos-delay='1000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='1000'].aos-animate {
    transition-delay: 1s;
}
body [data-aos-delay='2000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='2000'].aos-animate {
    transition-delay: 2s;
}
body [data-aos-delay='3000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='3000'].aos-animate {
    transition-delay: 3s;
}


@layer utilities {
    .content-auto {
      content-visibility: auto;
    }
    .font-rage{
        font-family: 'rage-regular';
    }
    .main-c{
        background-color: #ff007a;
    }
    @media screen and (max-width: 1024px) {
        .main-c{
            margin-bottom: 10px;
        }
        .main-c2{
            margin-bottom: 10px;
        }
    }
    .main-c2{
        background-color: #1b1b1b;
    }
    .main-c:hover{
        color: #ff007a;
        border-color: #ff007a;
        background-color: #ff007a;
    }

    .bg-color{
        background-color: #0a0a0a;
    }
    .poppins{
        font-family: 'Poppins';
      }
    .bebas{
        font-family: 'Bebas Neue';
     }
      .bg-image{
        background-image: url(img/bg.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        
      }
      @media screen and (max-width: 608px) {
        .bg-image{
            background-image: url(img/bg-mobile.png);
            background-size: contain;
            background-repeat: no-repeat;
            
          }
      }
      .top1 {
        top: 176px;
    }
      .top2{
        top: 225px;
        
      }
      .top3{
        top: 270px;
      }

      .top-c{
        top: 20rem;
        position: absolute;
      }

      .height{
        height: 100vh;
      }
      
        .gap-b {
          gap: 5.5rem/* 128px */;
      }

      .gap-c {
        gap: 4.6rem/* 80px */;
    }
    .-mt {
      margin-top: -29.1rem/* -384px */;
  }

  .mr-2 {
    margin-left: 66.3rem/* 40px */;
}

   .about-img1{
       background-image: url(img/about1.png);
        background-size: 150%;
        background-repeat: no-repeat;

   }

   .about-img2{
    background-image: url(img/about2.png);
     background-size: auto;
     background-repeat: no-repeat;
     
   }

   .about-img3{
    background-image: url(img/about3.png);
     background-size: auto;
     background-repeat: no-repeat;
   }


  }